# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Testing
coverage/

# npm
npm-debug.*
*.tsbuildinfo
